@model List<CineTicket.Models.Movie>
@{
    ViewData["Title"] = "Home";
}
<style>
    #mainSlider, .carousel-inner, .carousel-item {
        height: 100vh;
    }
</style>
<section>
    <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            @{
                int j = 0;
            }
            @foreach (var movie in Model.Take(10))
            {
                <button type="button"
                        data-bs-target="#mainSlider"
                        data-bs-slide-to="@j"
                        class="@(j == 0 ? "active" : "")"
                        aria-current="@(j == 0 ? "true" : "false")"
                        aria-label="Slide @(j + 1)">
                </button>

                {
                    j++;
                }
            }
        </div>

        <div class="carousel-inner">
            @{
                int i = 0;
            }
            @foreach (var movie in Model.Take(10))
            {
                <div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval="4000">

                    <img src="@movie.HorizontalImageUrl" class="d-block w-100" alt="@movie.MovieName">

                    <div class="carousel-caption">

                        <h1 class="display-2 fw-bold text-white mb-4 shadow-sm text-uppercase">@movie.MovieName</h1>

                        <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-outline-danger btn-lg px-5 py-3 fs-4 fw-bold rounded-pill">
                            <i class="fa-solid fa-play me-2"></i> Get Ticket
                        </a>

                    </div>

                </div>
                {
                    i++;
                }
            }
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#mainSlider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainSlider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="bg-dark">
    <div class="container">
        <div class="py-5 row d-flex align-items-center justify-content-between">
            <div class="col-md-6">
                <h1 class="fw-bold text-danger">The Most Comfortable Lounges</h1>
                <p class="text-white-50">
                    Are you ready to immerse yourself in the movie? We've brought the comfort
                    of
                    your home to the cinema with
                    our Dolby Atmos sound system and leather, reclining seats. Experience 4K on large, eye-friendly
                    screens.
                </p>
            </div>
            <div class="img1 col-md-6">
                <img src="/img/The_Most_Comfortable_Lounges.jpg" alt="The Most Comfortable Lounges"
                     class="img-fluid rounded-3 shadow-lg opacity-50">
            </div>
        </div>
        <div class="container py-5 row d-flex align-items-center justify-content-between">
            <div class="img1 col-md-6">
                <img src="/img/Unlimited_Cinema_Enjoyment.jpg" alt="Unlimited Cinema Enjoyment"
                     class="img-fluid rounded-3 shadow-lg opacity-50">
            </div>
            <div class="col-md-6">
                <h1 class="fw-bold text-danger">Unlimited Cinema Enjoyment</h1>
                <p class="text-white-50">
                    Don't let your snack enjoyment be interrupted while watching a movie. Our
                    snack bar is always at your service with a variety of fresh popcorn and a wide beverage menu.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section3 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="text-center text-white py-5">
            <h1 class="fw-bold display-4 py-3">Don't Miss the Movies of the Week!</h1>
            <p class="lead">Check out the latest movies in theaters and reserve your seat now.</p>
            <a asp-controller="Home" asp-action="Movies" class="btn btn-danger rounded-pill fw-bold fs-5 py-3 px-5">
                DISCOVER
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
